.trattoria-order {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.btn {
  background-color: #af8702b4;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.4rem 3.2rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #e9bb24a0;
}
