.trattoria-pizza {
  display: flex;
  gap: 3.2rem;
  max-height: 135px;
}

.trattoria-pizza img {
  align-self: start;
  aspect-ratio: 1;
  width: 12rem;
}

.trattoria-pizza div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  overflow-y: auto;
  padding-right: 10px;
}

.trattoria-pizza div::-webkit-scrollbar {
  width: 5px;
}

.trattoria-pizza div::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.trattoria-pizza div::-webkit-scrollbar-thumb {
  background: #af8602;
  border-radius: 10px;
}

.trattoria-pizza div::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.trattoria-pizza h3 {
  font-size: 2rem;
  font-weight: 400;
}

.trattoria-pizza p {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 300;
  margin-bottom: auto;
}

.trattoria-pizza span {
  display: block;
  font-size: 1.6rem;
}

.trattoria-pizza.sold-out {
  color: #888;
}

.trattoria-pizza.sold-out img {
  opacity: 0.8;
}

.cocktail-link {
  color: #af8602;
  cursor: pointer;
  text-decoration: underline;
}

.return-button {
  cursor: pointer;
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  width: 50%;
}
