.trattoria-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.trattoria-menu h2 {
  border-bottom: 2px solid currentColor;
  border-top: 2px solid currentColor;
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 1rem 0;
  text-transform: uppercase;
}

.trattoria-menu > p {
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: center;
  width: 80%;
}

.trattoria-pizzas {
  display: grid;
  gap: 4.8rem;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
